@media(max-width: 1500px) {
    .project-text h2 {
        font-size: 19px;
    }
}

@media(max-width: 980px) {
    .line-details {
        margin-bottom: 10px;
    }

    .menu {
        gap: 20px;
    }

    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: var(--primary-color);
        height: 3px;
        width: 70%;
        margin: 6px auto;

        border-radius: 10px;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        position: absolute;
        left: 83%;
        top: 11px;

        margin-right: 90vw;
        width: 40px;
        height: 30px;

        cursor: pointer;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: #fff;

        z-index: 10;

        display: flex;
        justify-content: end;
    }

    .menu-section.on nav {
        display: block;

        margin: 100px 13% 0 0;
    }

    .menu-section.on li {
        font-size: 18px;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(4px, 4px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: right;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 31px;
        line-height: 3rem;
        display: block;
    }

    .about-img {
        height: 450px;
        margin-top: 30px;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .social {
        width: 252.69px;
    }

    .project-content {
        flex-direction: column-reverse;
        gap: 1px;
    }

    .img-projects {
        margin: 10px 0;
    }

    .project-text {
        align-items: center;
    }

    #section-5 p {
        width: 100%;
    }

    .social-section {
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .about-img {
        height: 400px;
    }

    .social {
        width: 224.61px;
    }

    .contact p {
        width: 100%;
    }

    .form input {
        width: 90%;
        height: 36px;
        padding: 1%;

        font-family: 'Rubik', Sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
}

@media (max-width: 640px) {
    header img {
        width: 42px;
    }

    .menu {
        gap: 10px;

        width: 70%;
    }

    .menu-section.on nav {
        margin-right: 11%;
    }

    .cards-techs {
        justify-content: center;
    }

    h3#title-tech-2 {
        margin-top: 125px;
    }

    .introduction p {
        font-size: 16px;
    }

    .img-projects {
        width: 95vw;
    }

    .project-text p {
        text-align: center;
    }
}

@media (max-width: 410px) {
    .top {
        margin-left: 6vw;
    }

    header h2 {
        font-size: 19px;
    }

    .menu-section.on nav {
        margin-right: 8%;
    }

    .about {
        align-items: start;
    }

    .project-text h2 {
        font-size: 25px;
    }

    .project-text img {
        width: 15px;
    }

    .project-details .buttons {
        gap: 2%;
    }
}