* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(81, 71, 150);
    --bg-color: rgba(219, 233, 232, 0.534);
    --details-color: rgb(190, 186, 186);
}

:target {
    scroll-margin-top: .8em;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #000;
}

.section-title {
    margin-top: 100px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 300;
}

.section-title h2 span {
    color: var(--primary-color);
    font-size: 50px;
}

.line {
    margin-top: 40px;
    width: 100%;

    background: var(--details-color);
    border: 2px solid var(--details-color);
    border-radius: 10px;
}

.line-details {
    background-color: var(--primary-color);
    color: var(--primary-color);

    width: 40px;
    height: 3px;
}

.button-m {
    background-color: #fff;

    margin-top: 40px;
    width: 150px;
    padding: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 300;

    border: 1.5px solid var(--primary-color);
    border-radius: 5px;

    transition: 300ms;

    cursor: pointer;
}

.button-m:hover {
    background: none;
    color: #fff;
    background: var(--primary-color);
}

header {
    background: #fff;

    width: 100%;

    font-family: 'Poppins', sans-serif;

    position: sticky;
    top: 0;
}

header img {
    width: 54px;

    margin-top: 4px;
}

header h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.top {
    display: flex;
    margin: 70px 0 0 9vw;
    gap: 12%;
}

.menu-section nav ul {
    display: flex;
    gap: 40px;

    margin-top: 20px;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    list-style: none;
}

.menu-section nav a {
    transition: 300ms;
}

.menu-section nav a:hover {
    color: var(--primary-color);
}

main {
    margin: 0 9vw 0 9vw;
}

.about {
    background: var(--bg-color);

    display: flex;
    gap: 7%;
    margin-top: 100px;
    padding: 4%;
}

.about-img {
    height: 450px;

    border-radius: 10px;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media a img {
    width: 20px;
    margin-top: 20px;

    transition: 300ms;
}

.social a img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

.about-text span {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 22px;
}

.about-text h1 {
    font-size: 42px;
    font-weight: 300;

    margin: 10px 0 8px 0;
}

.about-text p {
    font-size: 22px;
}

.about-text strong {
    color: #0000009f;
}

.about-text h3 {
    font-size: 19px;
    font-weight: bold;
}

.about-text ul {
    list-style: none;
}

.about-lists {
    display: flex;
    gap: 10%;

    margin-top: 10px;
}

.about-list-1 ul,
.about-list-2 ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 19px;
}

.about-list-1 li,
.about-list-2 li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-list {
    background: #000;

    border: 2px solid var(--primary-color);
    border-radius: 10px;

    width: 10px;
    height: 10px;
    margin-top: 2px;
}

.img-projects {
    width: 100%;
    max-width: 100%;

    border: 1px solid var(--details-color);

    transition: all 0.2s;
}

.project-content {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.project-content .img {
    overflow: hidden;
}

.project-content .img a { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.project-content .img p {
    text-transform: uppercase;
    font-weight: 500;
}

.project-text {
    display: flex;
    flex-direction: column;
}

.project-text h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.project-text img {
    width: 20px;
}

.project-text .techs {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.post-text {
    background: var(--bg-color);

    margin-top: 50px;
    padding: 4%;
}

.post-text a {
    color: black;
}

.post span {
    font-weight: 500;
}

.post-text p {
    margin-top: 5px;
}

.post-text div {
    margin-top: 15px;
}

.post-text img {
    width: 13px;
}

#section-4 p a {
    color: var(--primary-color);
}

#section-4 p {
    font-size: 22px;

    margin-top: 50px;
    /* width: 70%; */
}

form {
    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 50px;
    padding: 4%;
}

form label {
    font-family: 'Rubik', Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

    color: rgb(133, 132, 132);
}

form input {
    width: 60%;
    height: 50px;
    padding: 1%;

    font-family: 'Rubik', Sans-serif;
    font-size: 16px;
    font-weight: 300;

    outline: none;
}

form textarea {
    resize: vertical;

    padding: 1%;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;

    outline: none;
}

form span {
    color: rgb(207, 22, 22);
}

.form-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-sent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: var(--bg-color);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    margin-top: 50px;
    padding: 4%;
    width: 80%;
}

.thick-check-mark {
    width: 19px;
    height: 33px;
    border: 10px solid var(--primary-color);
    border-left: 0;
    border-top: 0;

    transform: rotate(45deg);
}

.form-sent a {
    cursor: pointer;
}

.form-sent a:hover {
    filter: brightness(1.2);
}

.form-sent img {
    width: 40px;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 9vw 0 9vw;
}
.project-details .introduction h1 {
    font-size: 50px;
    text-align: center;

    margin: 100px 0  6px 0;
}
.project-details .introduction p {
    font-size: 20px;
    text-align: center;

    margin-bottom: 15px;
}

.project-details .techs {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.project-details .techs img {
    width: 30px;
}

.project-details .text {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.project-details .text h2 {
    margin: 30px 0 15px 0;
    
    font-size: 26px;
}

.project-details .image {
    margin-top: 50px;
}

.project-details .buttons {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;

    margin: 40px 9vw 40px 9vw;
}

.footer-content img {
    width: 50px;
}

.powered-by {
    display: flex;
    align-items: center;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;

    width: 45px;

    cursor: pointer;
}

.back-to-top:hover {
    filter: brightness(1.2);
}

.footer-line {
    width: 100%;

    border: 2px solid var(--primary-color);

    background: var(--primary-color);
}