* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

.section-title {
    margin-top: 100px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 300;
}

.line {
    margin-top: 40px;

    background: rgb(190, 186, 186);
    border: 2px solid rgb(190, 186, 186);
    border-radius: 10px;
}

header {
    background: #fff;

    width: 100%;

    font-family: 'Poppins', sans-serif;

    position: sticky;
    top: 0;
}

header img {
    width: 120px;

    margin-top: 4px;
}

header h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.top {
    display: flex;
    margin: 70px 0 0 9vw;
    gap: 5%;
}

.menu-section nav ul {
    display: flex;
    gap: 40px;

    margin-top: 20px;

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;

    list-style: none;
}

.menu-section nav a {
    transition: 300ms;
}

.menu-section nav a:hover {
    color: rgb(42, 165, 93);
}

main {
    margin: 0 9vw 0 9vw;
}

.about {
    background: rgba(219, 233, 232, 0.534);
    
    display: flex;
    gap: 7%;
    margin-top: 100px;
    padding: 4%;
}

.about-img {
    height: 450px;

    border-radius: 10px;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media a img {
    width: 20px;
    margin-top: 20px;

    transition: 300ms;
}

.social a img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

.about-text h1 {
    font-size: 45px;
    font-weight: 300;
}

.about-text p {
    font-size: 22px;
}

.about-text strong {
    color: #0000009f;
}

.about-text h3 {
    margin-top: 30px;

    font-size: 19px;
    font-weight: bold;
}

.about-text ul {
    list-style: none;
}

.about-lists {
    display: flex;
    gap: 10%;

    margin-top: 10px;
}

.about-list-1 ul,
.about-list-2 ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 19px;
}

.about-list-1 li,
.about-list-2 li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-list {
    background: #000;

    border: 2px solid rgb(42, 165, 93);
    border-radius: 10px;

    width: 10px;
    height: 10px;
    margin-top: 2px;
}

.img-projects {
    width: 100%;
    max-width: 100%;

    border: 1px solid rgba(42, 165, 93, 0.233);

    transition: all 0.2s;
}

.project-content {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.img {
    cursor: pointer;
    overflow: hidden;
}

.img-text-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    opacity: 0;

    background: rgb(207, 207, 207, 0.7);
    color: rgb(0, 0, 0);

    font-weight: 400;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.img:hover .img-text-info {
    opacity: 1;
    bottom: 0;
}

.img-text-info img {
    width: 30px;
    margin-top: 4px;
}

.img p {
    text-transform: uppercase;

    padding: 5px;
}

.project-text {
    display: flex;
    flex-direction: column;
}

.project-text h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.project-text img {
    width: 20px;
}

.techs {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.button-m {
    margin-top: 40px;
    width: 150px;
    padding: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 300;

    background: rgb(42, 165, 93);
    color: white;
    border: none;
    border-radius: 5px;

    transition: 300ms;

    cursor: pointer;
}

.button-m:hover {
    background: none;
    color: black;
    border: 1px solid rgb(42, 165, 93);
}

.post-text {
    background: rgba(219, 233, 232, 0.534);

    margin-top: 50px;
    padding: 4%;
}

.post-text a {
    color: black;
}

.post span {
    font-weight: 500;
}

.post-text p {
    margin-top: 5px;
}

.post-text div {
    margin-top: 15px;
}

.post-text img {
    width: 13px;
}

.footer-content {
    display: flex;
    justify-content: space-between;

    margin: 40px 9vw 40px 9vw;
}

#footer-text-1 {
    color: orangered;
}

#footer-text-2 {
    color: dodgerblue;
}

#footer-text-3 {
    color: goldenrod;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;

    cursor: pointer;
}

.back-to-top:hover {
    filter: brightness(1.2);
}

.footer-line {
    width: 100%;

    border: 2px solid rgb(42, 165, 93);

    background: rgb(42, 165, 93);
}

/* form: */

.title-contact {
    margin-top: 100px;
}

.contact h2 {
    font-size: 40px;
    font-weight: 300;

    margin-bottom: 10px;
}

.contact p a {
    color: rgb(42, 165, 93);
}

.contact p {
    font-size: 22px;
    width: 70%;
}

form {
    background: rgba(219, 233, 232, 0.534);

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 50px;
    padding: 4%;
}

form label {
    font-family: 'Rubik', Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

    color: rgb(133, 132, 132);
    ;
}

form input {
    width: 60%;
    height: 50px;
    padding: 1%;

    font-family: 'Rubik', Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

form textarea {
    resize: vertical;

    padding: 1%;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

form span {
    color: rgb(207, 22, 22);
}

.form-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.form-sent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background: rgba(219, 233, 232, 0.534);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

    margin-top: 50px;
    padding: 4%;
    width: 90%;
}

.form-sent a {
    cursor: pointer;
}

.form-sent a:hover {
    filter: brightness(1.2);
}

.form-sent img {
    width: 40px;
}