@media(max-width: 980px) {
    .project-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .img-projects {
        width: 120%;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 780px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: rgb(42, 165, 93);
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        position: absolute;
        left: 85vw;
        top: 3%;

        width: 40px;
        height: 30px;
    }

    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: #fff;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 31px;
        line-height: 5rem;
        display: block;
    }

    .form input {
        width: 90%;
        height: 36px;
        padding: 1%;
    
        font-family: 'Rubik', Sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
}