.hero {
    margin: 4rem 0;
    font-family: 'Manrope', sans-serif;
}

.hero h1 {
    font-size: 3rem;
}

.learn-more h3 {
    text-transform: uppercase;

    margin: 3.125rem 0 1rem 0;
}

.learn-more-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.learn-more-content li {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;

    transition: transform 0.3s;
}

.learn-more-content li:hover {
    transform: scale(1.03);
}

.learn-more-content li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.learn-more-content li a {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;

    position: relative;
    font-size: 0.875rem;
}

.learn-more-content li a span, .learn-more-content li a svg {
    position: absolute;
    z-index: 2;
    color: #f1f1f1;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.learn-more-content li a svg {
    top: 10px;
    left: 10px;
}

.learn-more-content li a span {
    bottom: 10px;
    left: 10px;
    font-weight: bold;
}