.projects {
    font-family: 'Rubik', sans-serif;
}

#userData {
    margin-top: 3.125rem;
}

#repositories-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#repositories-list li {
    background-color: var(--bg-color);

    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

#repositories-list .buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
}

.repo-title {
    font-family: "Manrope", sans-serif;
}

#repositories-list .repo-title, #repositories-list .repo-language {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.3rem;
}

.repo-language {
    margin-bottom: 0.3rem;
}

#repositories-list li span {
    font-size: 0.8rem;
}

.repo-image img {
    border: 1px solid var(--details-color);
    border-radius: 3px;

    width: 100%;
    height: 100%;
}

.repo-topics {
    color: var(--primary-color);
}

.modal-content img {
    /* centraliza horizontalmente e limita largura para manter responsividade */
    display: block;
    margin: 2rem auto;
    width: 100%;
    max-width: 1000px; /* ajuste conforme necessário */
    height: auto;
    border: 1px solid var(--details-color);
    border-radius: 3px;
}

.dialog-close-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    background-color: var(--primary-color);
    color: #fff;

    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 3px;

    border: none;
    cursor: pointer;
}

.dialog-close-button:hover {
    filter: brightness(1.15);
}

.dialog-close-button svg {
    width: 1rem;
    height: 1rem;
}