.projects {
    font-family: 'Rubik', sans-serif;
}

#userData {
    margin-top: 3.125rem;
}

#repositories-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#repositories-list li {
    background-color: var(--bg-color);

    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

#repositories-list .buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
}

.repo-title {
    font-family: "Manrope", sans-serif;
}

#repositories-list .repo-title, #repositories-list .repo-language {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.3rem;
}

#repositories-list li span {
    font-size: 0.8rem;
}

.repo-language-color {
    background-color: var(--primary-color);
    border-radius: 50%;
    
    height: 12px;
    width: 12px;
}

.repo-image img {
    border: 1px solid var(--details-color);
    border-radius: 3px;

    width: 100%;
}

.repo-topics {
    color: var(--primary-color);
}

.modal-content {
    background-color: var(--bg-color);
    border: 1px solid var(--details-color);
    border-radius: 3px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    max-width: 80vw;
}

.open-modal {
    cursor: zoom-in;
}

.modal-content .close-modal {
    background: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.modal-content .close-modal:hover {
    filter: brightness(1.2);
}

.modal-content img {
    padding: 2rem;
    width: 100%;
}