@media(max-width: 980px) {
    .top {
        flex-direction: row-reverse;
    }
    
    nav {
        display: none;
    }

    #navigation ul {
        flex-direction: column;
    }

    .menu-toggle {
        display: flex;

        cursor: pointer;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;

        background-color: #fff;
        border: 1px solid var(--details-color);

        height: 100vh;
        padding: 2rem;

        z-index: 10;
    }

    .menu-section.on nav {
        display: block;

        margin-top: 2rem;
    }

    .about-img {
        margin-top: 1.8rem;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .social-media {
        justify-content: center;
    }

    #repositories-list {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .modal-content {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        padding-top: 30vh;

        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .modal-content .close-modal {
        position: relative;
    }

    .modal-content img {
        padding: 0.5rem;
    }
}

@media (max-width: 640px) {
    .learn-more-content {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .learn-more-content a {
        width: 100%;
    }

    .modal-content .close-modal {
        font-size: 1.5rem;
    }
}

@media (max-width: 410px) {
    .about {
        align-items: start;
    }

    .about-text h1 {
        font-size: 1.7rem;
    }

    footer {
        padding: 1rem;
    }
}