@media(max-width: 980px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: var(--primary-color);
        height: 4px;
        width: 70%;

        transition-duration: 0.3s;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        position: absolute;
        left: 83%;
        top: 15px;

        margin-right: 90vw;
        width: 45px;

        cursor: pointer;
    }

    /* Comment: fullscreen */
    .menu-section.on {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 13%;

        border: 1px solid var(--details-color);
        width: 200px;
        height: 450px;

        background-color: #fff;

        z-index: 10;

        display: flex;
        justify-content: end;
    }

    .menu-section.on nav {
        display: block;

        margin: 3rem 13% 0 0;
    }

    .menu-section.on li {
        border-bottom: 1px solid #222222;
        font-size: 18px;

        margin-bottom: 1rem;
    }

    .menu-section.on .latestLink {
        border-bottom: none;
    }

    .menu-section nav a {
        padding: 0;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(3px, 4px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -10px);
    }

    .menu-section.on nav ul {
        text-align: right;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 31px;
        line-height: 3rem;
        display: block;
    }

    .about-img {
        height: 450px;
        margin-top: 30px;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .social {
        width: 252.69px;
    }

    #repositories-list {
        justify-content: center;
    }

    #section-5 p {
        width: 100%;
    }

    .social-section {
        justify-content: center;
    }

    .footer-content {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .menu-section.on {
        margin-right: 12%;
    }

    .about-img {
        height: 400px;
    }

    .social {
        width: 224.61px;
    }
}

@media (max-width: 640px) {
    header img {
        width: 42px;
    }

    .menu {
        gap: 10px;

        width: 70%;
    }

    .menu-section.on {
        margin-right: 10%;
    }

    .menu-section.on nav {
        margin-right: 11%;
    }

    h3#title-tech-2 {
        margin-top: 125px;
    }
}

@media (max-width: 410px) {
    .top {
        margin-left: 6vw;
    }

    header h2 {
        font-size: 19px;
    }

    .menu-section.on {
        margin-right: 8%;
    }

    .about {
        align-items: start;
    }
}