* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(81, 71, 150);
    --bg-color: rgba(219, 233, 232, 0.534);
    --details-color: rgb(190, 186, 186);
}

:target {
    scroll-margin-top: .8em;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.section-title {
    margin-top: 100px;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 300;
}

.section-title h2 span {
    color: var(--primary-color);
    font-size: 50px;
}

.line {
    margin-top: 40px;
    width: 100%;

    background: var(--details-color);
    border: 2px solid var(--details-color);
    border-radius: 10px;
}

.button {
    background-color: var(--primary-color);
    color: #fff;

    width: 7.5rem;
    padding: 0.3rem;

    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;

    border-radius: 5px;

    transition: 300ms;

    cursor: pointer;
}

.button:hover {
    filter: brightness(1.2);
}

.tag {
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 300;
}

header {
    background: #fff;
    font-family: 'Poppins', sans-serif;

    position: sticky;
    top: 0;
}

header img {
    width: 54px;

    margin-top: 9px;
}

header h2 {
    text-transform: uppercase;
    font-weight: 600;
}

.top {
    display: flex;
    margin: 10px 0 0 9vw;
    gap: 8%;
    align-items: center;
}

.menu-section nav ul {
    display: flex;
    gap: 0.7rem;

    font-weight: 600;
    text-transform: uppercase;
}

.menu-section nav a {
    position: relative;
    padding: 0.5rem;

    border-radius: 5px;

    transition: 300ms;
}

.menu-section nav a:hover {
    background-color: var(--bg-color);
}

main {
    margin: 0 9vw 0 9vw;
}

.about {
    background: var(--bg-color);
    border: 1px solid var(--details-color);

    display: flex;
    gap: 7%;
    margin-top: 50px;
    padding: 4%;
}

.about-img {
    height: 450px;

    border-radius: 5px;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media a {
    font-size: 1.5rem;
    margin-top: 20px;

    transition: 300ms;
}

.social a:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

.about-text span {
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
}

.about-text h1 {
    font-size: 42px;
    font-weight: 300;

    margin: 10px 0 8px 0;
}

.about-text p {
    font-size: 22px;
}

.about-text strong {
    color: #0000009f;
}

.about-text h3 {
    font-size: 19px;
    font-weight: bold;
}

#section-2 h3 {
    margin: 50px 0 30px 0;
}

.cards-techs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards-techs summary {
    border: 1px solid var(--details-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;

    margin-bottom: 10px;
    padding: 1rem;
    width: 200px;
}

.cards-techs summary:hover {
    background: var(--bg-color);
}

.cards-techs p {
    background-color: var(--bg-color);

    padding: 10px;
    width: 200px;
}

#section-3 #userData {
    margin-top: 50px;
}

#repositories-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#repositories-list li {
    background-color: var(--bg-color);
    border: 1px solid var(--details-color);

    padding: 1rem;
    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#repositories-list .buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
}

.repo-title {
    font-family: Poppins;
}

#repositories-list .repo-title, #repositories-list .repo-language {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.3rem;
}

#repositories-list li span {
    font-size: 0.8rem;
}

.repo-language-color {
    background-color: var(--primary-color);
    border-radius: 50%;
    
    height: 12px;
    width: 12px;
}

.repo-image img {
    border: 1px solid var(--details-color);
    border-radius: 2px;

    width: 100%;
}

.repo-topics {
    color: var(--primary-color);
}

.academic-education-text,.professional-experience {
    background: var(--bg-color);
    border: 1px solid var(--details-color);

    margin-top: 50px;
    padding: 4%;
}

.academic-education-text span,.professional-experience span {
    font-size: 13px;
}

.academic-education-text p,.professional-experience p {
    margin: 5px 0;
}

#section-4 ul,#section-5 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.professional-experience .link {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-bottom: 5px;
}

.professional-experience a {
    font-size: 14px;
    font-weight: 400;
}

.professional-experience img {
    width: 14px;
}

.social-section {
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.social-section i {
    color: var(--details-color);
    font-size: 50px;

    cursor: pointer;
    transition: 300ms;
}

.social-section i:hover {
    color: var(--primary-color);
}

.footer-content {
    margin: 40px 9vw 40px 9vw;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;

    font-size: 2.8125rem;
    color: var(--primary-color);

    cursor: pointer;
}

.back-to-top:hover {
    filter: brightness(1.2);
}

.footer-line {
    width: 100%;

    border: 2px solid var(--primary-color);

    background: var(--primary-color);
}