* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(81, 71, 150);
  --bg-color: rgba(219, 233, 232, 0.534);
  --text-color: #212121;
  --details-color: rgb(190, 186, 186);
}

:target {
  scroll-margin-top: .8em;
}

body {
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
  font-weight: 300;

  max-width: 67rem;
  margin: 0 auto;
  padding: 0 2rem;
}

body.modal-open {
  overflow: hidden;
  backdrop-filter: blur(15px);
  filter: blur(15px);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: 'Rubik', sans-serif;
}

.section-title {
  margin-top: 1.25rem;
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.section-title h2 span {
  color: var(--primary-color);
  font-size: 50px;
}

.primary-button, .disabled-button {
  background-color: var(--primary-color);
  color: #fff;

  width: 7.5rem;
  padding: 0.3rem;

  font-size: 15px;
  font-weight: 300;
  text-align: center;

  border-radius: 3px;

  transition: 300ms;
}

.primary-button:hover {
  filter: brightness(1.2);
}

.disabled-button {
  background-color: gray;
  cursor: not-allowed;
}

.tag {
  color: var(--primary-color);
  font-size: 0.8125rem;
  font-weight: 300;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
